.DS_Store

.idea

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/views/test.php
application/controllers/test.php
application/models/test.php
